<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/themes/about_us.css">
</head>
<body>
  <div>
    <h2>Why ACTivism?</h2>
    <p>Created for CSSI. We can write whatever we want, basic description of cssi and that this was our final project.</p>
  </div>

<h2>Meet The Team</h2>
<p>Find out more about the creators of this website</p>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Evardra Bell</h2>
        <p class="title">Creator & Designer</p>
        <p>Evardra will be attending Barnard College of Columbia University this fall as an anticipated double major in Biology and Mathematical Sciences. She is a huge activist an lives her life based on that.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Claudia Osorio</h2>
        <p class="title">Creator & Designer</p>
        <p>Claudia will be attending Carnegie Mellon University this fall. She loves music, especially alternative and movies from the 80s and 90s. Her favorite TV shows are Brooklyn Nine Nine and Mr. Robot.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>


</body>
</html>
