<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/themes/about_us.css">
</head>
<body>
  <div>
    <h2>Why ACTivism?</h2>
    <p>Created in Google's Computer Science Summer Institute (CSSI), as a final project. CSSI is a three-week introduction to computer science for graduating high school seniors with a passion for technology — especially students from historically underrepresented groups in the field.Programming fundamentals are learned directly from Google engineers,FINAL: and even design and develop your very own application with fellow participants that you will showcase to Googlers in local offices.</p>
  </div>

<h2>Meet The Team</h2>
<p>Find out more about the creators of this website</p>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Evardra" style="width:100%">
      <div class="container">
        <h2>Evardra Bell</h2>
        <p class="title">Creator & Designer</p>
        <p>Evardra will be attending Barnard College of Columbia University this fall as an anticipated double major in Biology and Mathematical Sciences. She is a huge activist an lives her life based on that.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>


  </div>  <p class="spacer"></p>

  
  <div class="column">
    <div class="card">
      <img src="/Downloads/claudia.jpg" alt="Claudia" style="width:100%">
      <div class="container">
        <h2>Claudia Osorio</h2>
        <p class="title">Creator & Designer</p>
        <p>Claudia will be attending Carnegie Mellon University this fall. She loves music, especially alternative and movies from the 80s and 90s. Her favorite TV shows are Brooklyn Nine Nine and Mr. Robot.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>


</body>
</html>
