<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/themes/about_us.css">
  <title>About Us</title>
</head>
<body>
  <header>
    <h1 class="page-title">About ACTivism</h1>
    <p class="spacer"></p>
    <nav>
      <nav>
        <a class = "navlinks" href='/'>Home</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/calendar'>Calendar</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/post_wall'>Connect</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/helpful_links'>Links</a>
      </nav>
    </nav>
  </header>
  <div>
    <center><h2>Why ACTivism?</h2></center>
    <p>Created during Google's Computer Science Summer Institute (CSSI) as their final project, CSSI is a three-week introduction to computer science for graduating high school seniors with a passion for technology — especially students from historically underrepresented groups in the field. Programming fundamentals are learned directly from Google engineers and at the end of the program students are sent off to design and develop their very own application with fellow participants that will be showcased to Googlers in local offices.</p>

    <p>The idea for ACTivism stemmed from the creators both being frequent march attendees. One common problem that is faced by our creators and other march go-ers alike is not knowing about all opportunities available in their area. ACTivism aims to solve this problem by conviently providing dates, locations and other necessary information about marches, rallies, presentations, speeches and other related events. Specifically in the the Tri-State Area, ACTisvism places all this information in one website, open for all of the public to access. ACTivism additionally features an input box allowing users to submit an event or publish more information about an event.</p>

    <p>The mission of ACTivism is to make it easier for everyone to take part in making a change. ACTivism features a multiude of APIs to aid in accomplishing this.
    </p>

  </div>

<center><h2>Meet The Team</h2></center>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/--FM7bKeGG3w/W1d-veOjrPI/AAAAAAAAACk/r1-uf-HpX3YPZaJYFKM1Lz9LWdcZsHUTQCL0BGAs/w1060-d-h756-n-rw/evardra%2B2.jpg" alt="Evardra" style="width:100%">
      <div class="container">
        <h2>Evardra Bell</h2>
        <p class="title">Creator & Designer</p>
        <p>Evardra will be attending Barnard College of Columbia University this fall as an anticipated double major in Biology and Mathematical Sciences.</p>
      </div>
    </div>
</div>





  <div class="column">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/-znN5efaHTR8/W1d-rhcmzZI/AAAAAAAAACQ/PrZtUcxPbjUImRAOwhj1eyT0sj8zRRMMACL0BGAs/w1060-d-h758-n-rw/claudiaosorio%2B2.jpg" alt="Claudia" style="width:100%">
      <div class="container">
        <h2>Claudia Osorio</h2>
        <p class="title">Creator & Designer</p>
        <p>Claudia will be attending Carnegie Mellon University this fall as a declared Information Systems major.</p>
      </div>
    </div>
  </div>

</div>

</body>
</html>
