<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/themes/calendar.css">
<title>Calendar</title>
</head>
<body>
  <header>
    <h1 class="page-title">Calendar of Events</h1>
    <p class="spacer"></p>
    <nav>
      <a class = "navlinks" href='/'>Home</a>
      <a class = "navlinks" href='/about_us'>About</a>
    </nav>
  </header>


  <div>
    <iframe id="calendar" src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=activismcssi%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York">
    </iframe>
  </div>

</body>
</html>
