<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="static/themes/helpful_links.css">
<title>Helpful Links</title>
</head>

<body>

  <header>
    <h1 class="page-title">Helpful Links</h1>
    <p class="spacer"></p>

    <nav>
      <a class = "navlinks" href='/'>Home</a>
      <p class="sidespacer"></p>
      <a class = "navlinks" href='/calendar'>Calendar</a>
      <p class="sidespacer"></p>
      <a class = "navlinks" href='/about_us'>About</a>
    </nav>

  </header>



  <div>
    <center><h2>Weather</h2>
    <p id="weather">Check out the weather forecast for an event by location</p>
    <a href="https://www.accuweather.com/en/us/manhattan-ny/10021/current-weather/2622750" class="aw-widget-legal">
</a><div id="awtd1532533177422" class="aw-widget-36hour"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awtd1532533177422" data-editlocation="true"></div>
<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</center>   </div>





</body>

</html>
