<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="static/themes/helpful_links.css">
<title>Helpful Links</title>
</head>

<body>

  <header>
    <h1 class="page-title">Helpful Links</h1>
    <p class="spacer"></p>

    <nav>
      <a class = "navlinks" href='/'>Home</a>
      <p class="sidespacer"></p>
      <a class = "navlinks" href='/calendar'>Calendar</a>
      <p class="sidespacer"></p>
      <a class = "navlinks" href='/about_us'>About</a>
    </nav>

  </header>

</body>

</html>
