<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/themes/home.css">
  <script src="/static/scripts/home.js"/> </script>
  <title>ACTivism</title>

</head>

<body>

<header>
  <h1 class="page-title">ACTivism</h1>
  <p class="spacer"></p>
  <nav>
    <a class = "navlinks" href='/about_us'>About</a>
    <a class = "navlinks" href='/calendar'>Calendar</a>
  </nav>
</header>

  <div class="slideshow-container">
<div><p></p></div>
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="https://dailygazette.com/sites/default/files/styles/article_image/public/2017%2BYEAREND%2BNEWS%2B18.JPG?itok=XOQo-e1u" style="width:100%">

    <div class="text">Women's March</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_510,q_75,w_1280/v1/clients/newyorkstate/4fc91224_958d_4c58_9d27_727b1d29182b_83e0bb13-6e83-4d9c-9fa7-aff6b17d27b9.jpg" style="width:100%">
    <div class="text">PRIDE</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="https://cdn.cnn.com/cnnnext/dam/assets/170422110138-12-march-for-science-0422-super-169.jpg" style="width:100%">
    <div class="text">March for Science</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  </body>
  </html>
