<html>
<head>
<title>Connect</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/themes/post_wall.css">

</head>
<body>
  <header>
    <h1 class="page-title">Connect</h1>
    <p class="spacer"></p>
    <nav>
      <nav>
        <a class = "navlinks" href='/'>Home</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/about_us'>About</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/calendar'>Calendar</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/helpful_links'>Links</a>
      </nav>
    </nav>
  </header>

  <p id ="connecter">Want to connect with fellow event go-ers? Post the event name, your name and your contact details here:</p>
  <div class="container">
    <img src="https://lh3.googleusercontent.com/--FM7bKeGG3w/W1d-veOjrPI/AAAAAAAAAC4/Tz-zpPvuP7o6KtFLorMoNkNuHsmXJ-UPQCJoC/w1060-h756-n-rw/evardra%2B2.jpg" alt="Avatar" style="width:90px">
    <p><span>Evardra Bell</span><span id ="events">Abolish ICE Everywhere - Governor Andrew Cuomo</span></p>
    <p>evardra@gmail.com</p>
  </div>
  <div class="container">
    <img src="https://lh3.googleusercontent.com/-znN5efaHTR8/W1d-rhcmzZI/AAAAAAAAAC4/hZUbiMYMnO8JL1KeV30Ek093uAUKQWyRQCJoC/w1060-h758-n-rw/claudiaosorio%2B2.jpg" alt="Avatar" style="width:90px">
    <p><span>Claudia Osorio</span><span id ="events">Town Hall: Our Community Vision for Stonewall 50/World Pride</span></p>
    <p>claudiaaa1414@gmail.com</p>
  </div>

  <div class="container">
    <img src="https://lh3.googleusercontent.com/-lSev0jFdTuc/W1nnWgssjhI/AAAAAAAAAD0/QKovz04_l98Vft-ETlqznjD9gzMs-enMACL0BGAs/w1060-d-h1060-n-rw/pink.png" alt="Avatar" style="width:90px">
    <p><span>Name</span><span id="events"> Event name </span></p>
    <p>Contact info</p>
  </div>
<form action="mailto:activismcssi@gmail.com" method="post" enctype="text/plain">
  <div class="container">
    <img src="https://lh3.googleusercontent.com/-lSev0jFdTuc/W1nnWgssjhI/AAAAAAAAAD0/QKovz04_l98Vft-ETlqznjD9gzMs-enMACL0BGAs/w1060-d-h1060-n-rw/pink.png" alt="Avatar" style="width:90px">
  <div>
    Enter your name:
    <input style="width: 255px" type="text" name="name" placeholder="Enter your first and last name">
  </div>
  <br>
  <div>
    Enter the event:
    <input style="width: 255px" type="text" name="name" placeholder="Enter the event name">
  </div>
  <br>
  <div>
    Contact Information:
    <input style="width: 255px" type="text" name="name" placeholder="Contact details">
    <p align="right"><button type="submit" style="text-align:center;background-color:palevioletred">Add</button></span></p></p>
  </div>
</form>
</div>
<p id="warning"> **Pressing "add" will send you to an email page. We do this to ensure no spam content is posted and to keep our site user-friendly and respectful. Your post will be reviewed and sent to our site admins.**</p>


</body>
</html>
