<html>
<head>
<title>Connect</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
</style>
</head>
<body>
  <p>Want to connect with fellow event go-ers? Post the event name, your name and your contact details here:</p>

  <div class="container">
    <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
    <p><span>Name.</span> Event name</p>
    <p>Contact info</p>
  </div>

  <div class="container">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" style="width:90px">
    <p><span>Name</span> Event name</p>
    <p>Contact info</p>
  </div>

  <div class="container">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" style="width:90px">
    <p><span><input type="text" name="inputed_name" placeholder="Enter your name"></span><input type="text" name="event_name" placeholder="Enter the event"></p>
    <p><input type="text" name="contact" placeholder="contact information"></p>
  </div>

</body>
</html>
