<html>
<head>
<h1>Event Confirmation</h1>


</head>


  <body>
    <div> <p>Your submission has been sent. Our team will email you </p>

    <p>You ordered

      {% if crust_answer %}
       {{crust_answer}}
       {% else %}
        regular
        {% endif %}
       crust</p>

    <p>You ordered
      {% if cheese_answer %}
       {{cheese_answer}}
       {% else %}
        mozzerella
        {% endif %}
       cheese
    </p>

    <p>Did you order sauce?
      {% if sauce_answer %}
       {{sauce_answer}}
       {% else %}
        no
        {% endif %}
     </p>
    </div>







    <style>
    div{
      background-color: pink;
    }

    </style>


  </body>
</html>
