<html>

<head>
<link rel="stylesheet" href="/static/themes/submit.css">
<title>Submission</title>

</head>


  <body>

    <header>
      <h1 class="page-title">ACTivism</h1>
      <p class="spacer"></p>

      <nav>
        <a class = "navlinks" href='/'>Home</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/calendar'>Calendar</a>
        <p class="sidespacer"></p>
        <a class = "navlinks" href='/about_us'>About</a>
      </nav>
    </header>
<div class = "confirmation">
<h1>Event Confirmation</h1>
    <div id="submission"> <p>Your submission has been sent. Our team will further communicate with you through email. </p>
    </div>
</div>
  </body>
</html>
