html
{
  background-color: lightpink;
}

header, header *
{
  /* border: 1px solid purple; */
}

header
{
  background-color: lightpink;
  padding: 8px 20px;
  display: flex;
}

.navlinks
{
  height: fit-content;
  color: black;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
}

.page-title
{
  margin: 0;
  font-style: italic;
}

.spacer
{
  flex-grow: 1;

}

.sidespacer
{
  flex-grow: 1;
  width: 10px;
}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#awtd1532533177422
{
  border: 5px solid black;
}

#weather
{
  font-size: 22px;
}
