html
{
  background-color: lightpink;
}

header, header *
{
  /* border: 1px solid purple; */
}

header
{
  background-color: lightpink;
  padding: 8px 20px;
  display: flex;
}

.navlinks
{
  height: fit-content;
  color: black;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
}

.page-title
{
  margin: 0;
  font-style: italic;
}

.spacer
{
  flex-grow: 1;

}

.sidespacer
{
  flex-grow: 1;
  width: 10px;
}

.widgetspacer
{
  flex-grow: 1;
  width: 150px;
  height: 1545px;
  /* border: 1px solid purple; */
  float: left;

}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#text
{
  font-size: 22px;
}




.column {
    float: left;
    width: 40%;
    border: 5px solid black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
